.favorites {
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.favorites h1,
h2 {
  text-align: center;
}

.favorites .favoritesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  row-gap: 1rem;
}
